<div class="center hero-unit">
  <h1>Hello Sample App!</h1>

  <h2>
    This is the home page for my
    Ruby on Rails
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>